:root {
    --accent: #F50057;
}

/* Fonts */
h1,h2,h3,h4,h5,h6,h7,h8,h9{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
body {
    color:#2e2e2e;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size:80pt;
    margin-left:-3px;
}
h2{
    font-size:60px;
}
h3{
    font-size:36px;
}
section {
    padding: 10vh 30px;
}
@media screen and (max-width: 768px){
    h3{
        font-size:28px;
    }
    section{
        padding-top:30px;
        padding-bottom: 30px;
    }
}
.accent{
    color:var(--accent);
}
.w{
    color:white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.full{
    width: 100vw;
    height:100vh;
}

.phone{
    width:90%;
}
.half h1{
    font-size:15vw;
    color:var(--accent)
}
.half p{
    font-size:7vw;
}
.halfpadded{
    padding: 15vw;
    padding-bottom: 5vw;
}

.overflowprotect{
    height: 100vh;
    overflow-y: hidden;
}

@media screen and (min-aspect-ratio: 1/1) {
    .gradient{
        background: #FF7A72;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(45.34deg, #FBB13C 5.66%, #FF7A72 48.62%, #FF7A72 94.35%);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(45.34deg, #FBB13C 5.66%, #FF7A72 48.62%, #FF7A72 94.35%);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .phone{
        width:75%;
        margin-top: 48vh;
    }

    .half{
        width:50vw;
        height:100vh;
        overflow: hidden;
        color:white;
    }
    header .right{
        position: absolute;top:0;right:0
    }
    .half h1{
        font-size:7vw;
        color: white;
    }
    .half p{
        font-size:3vw;
    }
    .half-padded{
        padding: 5vw;
    }
}

header .right, .b{
    background: white;
}

footer{
    background-color:#2e2e2e;
    text-transform: uppercase;
    text-align: center;
    color:#CCC;
    line-height:20px;
    letter-spacing: 15px;
    padding:30px;
}
footer img{
    max-width:250px;
    opacity: .6;
    margin-top: 15px;
    width:65%;
}
.copyright{
    text-align: center;
    padding: 30px;
    background-color:#171717;
    color:#5c5c5c;
    width:100vw;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.appgoals{
    text-align: center;
    background-color:white;
}
.appgoals p{
    line-height:28px;
    color:#929292
}
.appgoals img{
    width:90%;
    padding:20px;
}
.blurb{
    max-width:850px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    padding-bottom: 30px;
}
article img{
    max-height:1000px;
    height:60vh;
}
@media screen and (min-width:768px){
    .right {
        text-align: right;
    }
    article p{
        font-size:19px;
    }
    }
.a {
    background-color:#f5f5f5
}
.circlenum{
    width: 55px;
    line-height:55px;
    background-color:var(--accent);
    color:white;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
}
.flex-left h3{
    margin-bottom: 20px;
    margin-top: 20px;
}
article p{
    color:#7a7a7a;
}
.underlayfooter{
    position: fixed;
    bottom: 0;
    left:0;
    width:100vw;
    z-index: -1;
}
/*@media screen and (max-aspect-ratio: 1/2) {*/
/*    .overflowprotect{*/
/*        height:80vh;*/
/*    }*/
/*}*/