/* Fonts */
h1,h2,h3,h4,h5,h6,h7,h8,h9{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
body,p {
    color:#2e2e2e;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size:80pt;
    margin-left:-3px;
}
h2{
    font-size:60px;
}
h3{
    font-size:40px;
}
.accent{
    color:#F50057
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full{
    width: 100vw;
    height:100vh;
}
.gradient{
    background: #FF416C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #FF4B2B, #FF416C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #FF4B2B, #FF416C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.phone{
    width:70vh;
    left: 50vw;
    top:25vh;
    position: absolute;
}

@media screen and (max-aspect-ratio: 3/2) {
    .phone{
        width:45vw;
    }
}